<%- include("partials/header") %>

<div class="mainDiv">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
<div class="background">



      <div class="header text-center  container">
        
        <h1 class="text-light animate__animated  animate__bounceInDown headStyle">Plant Arena</h1>
        <p class="text-light mb-5 animate__animated  animate__lightSpeedInRight paraStyle">Plant Arena is a treasure trove of plants. Plants are the green elements whose presence is indispensable for the entire mankind.
          With a focus on spreading green, beauty and healing our website gives platform to the user to buy plants and plant care products online and get it to their doorstep. </p>
        <% if(!currentUser){ %>
        <a class="btn btn-light round mt-5 animate__animated animate__bounce animate__delay-1s" href="/Signup" > Get Started </a>
        <% } 
        else{ %>
        <h4 class="text-light mt-5 headStyle">Scroll</h4>
        <h1 onclick="scrollWin()"  class="mt-2 animate__animated animate__bounce animate__delay-1s text-light"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg></h1>
        <%  } %>

       
        

    </div>
  </div>

    <div>
      <div class="container mt-5 text-center" data-aos="fade-right" >
        <h2 class="text-center subText headStyle">Flowering Plants</h2>
        <div class="row align-items-center">
          <div class="col-lg-2">
            <img class="bestSellingImg" src="/mostsold.png" alt="">
          </div>
          <div class="col-lg-8">
          <P>
            In everyday life, people use flowers to symbolize various emotions like love, friendship, kindness, and remembrance. You can use our flowering plants’ packs for gift purposes or show affection to your loved ones. They come in a range of colours and help you achieve an aesthetically pleasing garden.
          </P>
          </div>
        </div>
        <a  href="Landing/more/Flowering Plant" class="btn  seemorebtn mb-5">See More <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></a>
      </div>
    </div>
   <div>

      


      <div class="breathFresh text-center" data-aos="zoom-in" data-aos-delay="100">
     <div class="header text-center  container" >
      <h1 class="text-light headStyle">Fresh Flowers</h1>
      <p class="text-light mb-5">If you’re looking to add some vibrancy to your life, our flowering plant packs might do the trick. These noticeable flowers will bring you joy and reduce stress from your life while sprucing up your surroundings.</p>     
     </div>
       </div>
      <div id="plants"></div>
      <div class="container">
        <div class="row mt-5 mb-5">
          <% var count =0 %>
          <% data.forEach((item)=>{ %>
            

            <%  if(item.category == 'Flowering Plant' && count < 3){ %>
              <% count++ %>
              <div class="col-lg-4">
                <a href="Landing/<%= item._id %>">
                 <div class="card" style="width: 18rem;">
                  <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                  
                   <img src="<%= item.productImage %>" class="card-img-top" alt="...">

                   <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                   <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                 </div></a>
     
               </div>
               <%  } %>
          <% }) %>
      
      
          
        </div>
        <a class="btn seemorebtn2 mt-4 pr-3" href="Landing/more/Flowering Plant" >See More   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></a>

      </div>

    </div>

    <div>
      <div id="Medicinalplant"></div>

      <div class="container n_margin">
        <div class="row mt-5 card_change">
          <div class="col-lg-9">
            <div class="natureDoctor" data-aos="flip-left" >
              <div class="header p-5  container">
                <h1 class="text-light headStyle">Nature is a Doctor</h1>
                <p class="text-light mb-5">Compared to allopathy, traditional medicine systems like Ayurveda, Siddha, and Unani medicine prove to be far more effective for many of the common ailments like allergy, acne, headaches, and many more. That’s why growing medicinal plants at homes is important to stay healthy, and also to add flavour to our favourite dishes and beverages.</p>
                
               </div>
            </div>
            <div class="row mt-5">
              <% var count=0 %>
              <% data.forEach((item,index)=>{ %>
               
                <%  if(item.category == 'Medicinal Plant' && count < 3){ %>
                <% var number = index; %>
                 <% count ++ %>
                  <div class="col-lg-4">
                    <a href="/Landing/<%= item._id %>">
                     <div class="card" style="width: 18rem;">
                      
                      <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                
                        <img src="<%= item.productImage %>" class="card-img-top" alt="...">
                     
                      <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                       <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                       <p></p>
                     </div></a>
         
                   </div>
                   <%  } %>
              <% }) %>
            </div>
          </div>
          <div class="col-lg-3  ">


            <% var cnt=0 %>
            <% data.forEach((item,index)=>{ %>
             
              <%  if(item.category == 'Medicinal Plant' ){ %>
               <% cnt ++ %>
                
               <% if(cnt > 3 && cnt < 6){  %>
                  <a href="/Landing/<%= item._id %>">
                    <div class="card" style="width: 18rem;">
                      <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                  <img src="<%= item.productImage %>" class="card-img-top" alt="...">
                  <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                      <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                      <p></p>
                    </div></a>
               <% } %>
       
                
                 <%  } %>
            <% }) %>



          
              <div class="text-center">
                <a class="btn seemorebtn mt-4" style="width: 80%;" href="Landing/more/Medicinal Plant" >See More <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg></a>
              </div>

            
          </div>
        </div>
      </div>

    </div>

    <div class="buddha">
      <div class="row mb-5">
        <div class="col-lg-10"></div>
        <div class="col-lg-2 mt-5" data-aos="fade-right">
          <p class="text-light" >Fresh air plants</p>
          <p class="text-light">Cool breeze plants</p>
          <p class="text-light">Meditation plants</p>
          <p class="text-light">Symbol of peace</p>
        </div>
      </div>
      <div id="Peaceplant"></div>
      
      <div class="topspace">
        <h1 class="text-center text-light display-4 mt-5 headStyle">“Peace comes from within. <span class="bg-danger p-1" data-aos="fade-right">Do not seek it without.</span> ”</h1>
        <p class="subPosition text-light">-Buddha</p>
      </div>
      <div class="container">
        <div class="row mt-5">
          <% var count=0 %>
           <% data.forEach((item)=>{ %>

            <%  if(item.category == 'Peace Plant' && count < 3 ){ %>
              <% count++ %>
              <div class="col-lg-4">
                <a href="Landing/<%= item._id %>">
                 <div class="card" style="width: 18rem;">
                  <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                   <img src="<%= item.productImage %>" class="card-img-top" alt="...">
                   <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                   <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                 </div></a>
     
               </div>
               <%  } %>
          <% }) %>
          </div>
          <a class="btn seemorebtn2 mt-4 pr-3" href="Landing/more/Peace Plant" >See More   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg></a>
        </div>
      </div>
    </div>




    <div class="vegetable">
      <div class="row mb-5 mt-5">
        <div class="col-lg-10"></div>
        <div class="col-lg-2 mt-5">
          <p class="text-light">Fresh air plants</p>
          <p class="text-light">Cool breeze plants</p>
          <p class="text-light">Meditation plants</p>
          <p class="text-light">Symbol of peace</p>
        </div>
      </div>
      <div id="Vegetablesplant"></div>
      
      <div class="topspace1">
        <h4 class="text-center text-light p-5" data-aos="fade-right">“Growing your own food isn't complicated. Starting a garden can be simple if you grow the right crops. There are many vegetables that yield a great product and do not require a ton of work.”</h4>
       
      </div>
      <div class="container mt-5">
        <div class="row mt-5">
          <% var count=0 %>
          <% data.forEach((item)=>{ %>

            <%  if(item.category == 'Vegetable Plant' && count < 3){ %>
              <% count++ %>
              <div class="col-lg-4 mt-5">
                <a href="Landing/<%= item._id %>">
                 <div class="card" style="width: 18rem;">
                  <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                  <img src="<%= item.productImage %>" class="card-img-top" alt="...">
                  <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                   <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                 </div></a>
     
               </div>
               <%  } %>
          <% }) %>

        </div>
        <a class="btn seemorebtn2 mt-4 pr-3" href="Landing/more/Vegetable Plant" >See More   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></a>
      </div>
    </div>



    <div class="seed">
      <div class="row mb-5 mt-5">
        <div class="col-lg-10"></div>
        <div class="col-lg-2 mt-5">
          <p class="text-light">Fresh air plants</p>
          <p class="text-light">Cool breeze plants</p>
          <p class="text-light">Meditation plants</p>
          <p class="text-light">Symbol of peace</p>
        </div>
      </div>
      <div id="Seeds"></div>
      
      <div class="topspace1">
        <h4 class="text-center text-light p-3 " data-aos="fade-right">“To have a garden, one needs plants, and to grow healthy plants, one definitely needs healthy seeds. Seeds are an essential constituent in addition to soil and pots when we talk about gardening.”</h4>
       
      </div>
      <div class="container mt-5">
        <div class="row mt-5">
          <% var count=0 %>
          <% data.forEach((item)=>{ %>

            <%  if(item.category == 'Seed' && count < 3){ %>
              <% count++ %>
              <div class="col-lg-4">
                <a href="Landing/<%= item._id %>">
                 <div class="card" style="width: 18rem;">
                  <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                  <img src="<%= item.productImage %>" class="card-img-top" alt="...">
                  <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                   <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                 </div></a>
     
               </div>
               <%  } %>
          <% }) %>

        </div>
        <a class="btn seemorebtn2 mt-4 pr-3" href="Landing/more/Seed" >See More   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></a>
      </div>
    </div>













    
    <div class="manure">
      <div class="row mb-5 mt-5">
        <div class="col-lg-10"></div>
        <div class="col-lg-2 mt-5">
          <p class="text-light">Fresh air plants</p>
          <p class="text-light">Cool breeze plants</p>
          <p class="text-light">Meditation plants</p>
          <p class="text-light">Symbol of peace</p>
        </div>
      </div>
      <div id="Fertilizer"></div>
      
      <div class="topspace1">
        <h4 class="text-center text-light p-5" data-aos="fade-right">“Soil, in the simplest words, is a plant’s home. Soil is also the birthplace and life of the plant. Thus, while choosing the plants, make sure that the soil is of good quality. Soil and fertilizers can make or break the plant.”</h4>
       
      </div>
      <div class="container mt-5">
        <div class="row mt-5">
          <% var count=0 %>
          <% data.forEach((item)=>{ %>

            <%  if(item.category == 'Fertilizer' && count < 3){ %>
              <% count++ %>
              <div class="col-lg-4">
                <a href="Landing/<%= item._id %>">
                 <div class="card" style="width: 18rem;">
                  <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                  <img src="<%= item.productImage %>" class="card-img-top" alt="...">
                  <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                   <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                 </div></a>
     
               </div>
               <%  } %>
          <% }) %>

        </div>
        <a class="btn seemorebtn2 mt-4 pr-3" href="Landing/more/Fertilizer" >See More   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></a>
      </div>
    </div>




    <div class="pebble">
      <div class="row mb-5">
        <div class="col-lg-10"></div>
        <div class="col-lg-2 mt-5">
          <p class="text-light">Fresh air plants</p>
          <p class="text-light">Cool breeze plants</p>
          <p class="text-light">Meditation plants</p>
          <p class="text-light">Symbol of peace</p>
        </div>
      </div>
      <div id="Pebbles"></div>
      
      <div class="topspace1">
        <h4 class="text-center text-light p-3" data-aos="fade-right">“Just like every beautiful house can do with a little extra help, so can your garden. Pebbles bring your garden to life and add to its beauty.”</h4>
       
      </div>
      <div class="container mt-5">
        <div class="row mt-5">
          <% var count=0 %>
          <% data.forEach((item)=>{ %>

            <%  if(item.category == 'Pebble' && count < 3){ %>
              <% count++ %>
              <div class="col-lg-4">
                <a href="Landing/<%= item._id %>">
                 <div class="card" style="width: 18rem;">
                  <span class="text-light rate" >	 <small><b>&#8377; <%= item.price %>/-</b></small> </span>
                  <img src="<%= item.productImage %>" class="card-img-top" alt="...">
                  <img class="priceTag" src="https://static.vecteezy.com/system/resources/thumbnails/001/197/142/small/ribbon.png" alt="">
                   <h6 class="text-center mt-2 subText"><%=item.productName%></h6>
                 </div></a>
     
               </div>
               <%  } %>
          <% }) %>
     

        </div>

        <a class="btn seemorebtn2 mt-4 pr-3" href="Landing/more/Pebble" >See More   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></a>

      </div>
    </div>




    <div class="footer p-2 ">
      <div class="mt-5 mb-5">
      <h3 class="text-center text-light ">Plant Arena</h3>

      </div>


      <div class="row text-light">
        <div class="col-lg-3 d-flex justify-content-center ">
          <div>
            <a href="#" class="text-light"><b>About us</b></a><br><br>
            <a href="#" class=" text-light mt-4">Contracts</a><br><br>
            <a href="#" class=" text-light mt-4">Shares</a><br><br>
            <a href="#" class=" text-light mt-4">Growth</a>
          </div>
  
        </div>

        <div class="col-lg-3 d-flex justify-content-center">
          <div>
            <a href="#" class="text-light"><b>Branches</b></a><br><br>
            <a href="#" class="mt-4 text-light">Banglore</a><br><br>
            <a href="#" class="mt-4 text-light">Kolkata</a><br><br>
            <a href="#" class="mt-4 text-light">Mumbai</a>
          </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-center">
          <div>
            <a href="#" class="text-light"><b>Fertilizer Partners</b></a><br><br>
            <a href="#" class="text-light">GreenGlame Fertilisers</a><br><br>
            <a href="#" class="text-light">natureNest Fertilisers</a><br><br>
            <a href="#" class="text-light">NatureEdge Fertilisers</a>
            
          </div>
         
        </div>

        <div class="col-lg-3 d-flex justify-content-center">
          <div>
            <a href="#" class="text-light"><b>Contact us</b></a><br><br>
            <a href="#" class="mt-4 text-light">+91-7899562148</a><br><br>
            <a href="#" class="mt-4 text-light">https://www.plantarena.io</a><br><br>
           
            <a href="#"class="mt-4 text-light">plantarena@gmail.com</a>
          </div>
        </div>
          
      </div>
      <p class="text-center mt-5"><small class="text-light ">Copyright &#169; 2020 RM Swaroop. All rights reserved</small></p>
     
       
    
    </div>


</div>

<script>
  function scrollWin() {
    window.scroll({
  top: 700, 
  left: 0, 
  behavior: 'smooth'
});
  };

  
  </script>

<script>
  $(document).ready(function(){
    $(window).scroll(function() { // check if scroll event happened
      if ($(document).scrollTop() > 50) { // check if user scrolled more than 50 from top of the browser window
        $(".fixed-top").css("background-color", "#28A745"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
      } else {
        $(".fixed-top").css("background-color", "transparent"); // if not, change it back to transparent
      }
    });
  });
</script>

<script>
$(function() {
    $('a[href*=\\#]:not([href=\\#])').on('click', function() {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.substr(1) +']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    });
});
</script>


    <script>
      AOS.init({
          duration:800
      });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<%- include("partials/footer") %>
